<div class="container">
    <h1>Vinter Video Konkurrencen 2020</h1>
    <p>Vinter video konkurrencen prøver at få lokket de bedste BMX film ud af alle afkroge af Danmark.</p>

    <p>Med konkurrencen håber jeg på, at kunne være med at vise, hvordan BMX ser ud rundt om i landet og være med til at
        vise nogle af alle de skjulte talenter, der gemmer sig derude.</p>


    <div class="header-image"></div>



    <app-video-list [videos]="videos"></app-video-list>

    <hr class="solid">
</div>