<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 header-image"></div>


        <div class="col-sm-12 col-md-4 header-text">
            <h1 style="padding-top: 25px; ">Vinter Video Konkurrencen 2021</h1>
            <p style=" color: var(--accent-color); font-weight: 500;">Vinter video konkurrencen prøver at få lokket de
                bedste BMX film ud af alle
                afkroge af Danmark.</p>

            <p style="padding-top: 25px; ">Med konkurrencen håber jeg på, at BMX'ere i Danmark lærer hinanden bedre at
                kende og at nogle af alle de skjulte talenter bliver vist frem.</p>


            <p style="padding-top: 30px; "> <strong>Stor tak til Skatepro!</strong></p>
            <p>Igen i år sponsorer Skatepro konkurrencen med nogel fede præmier!</p>
            <a href="https://www.skatepro.dk/" target="_blank">
                <img height="30px" src="assets/pictures/vvk2020pictures/Skatepro_logo_black.png" alt="skatepro logo">
            </a>
            <p style="padding-top: 30px; "> Konkurrencen varer fra d. 1. november 2021 til d. 31. marts 2022.</p>
        </div>


        <div class="col-sm-12 col-md-4 rules">
            <h1>Kategorier</h1>
            <p>Der er flere forskellige kategorier i konkurrencen, som hver vinder en speciallavet pokal, samt præmier
                fra Skatepro:</p>

            <ul>
                <li>
                    <strong>Bedste video</strong> <br />Den overordnede bedste video
                </li>
                <li>
                    <strong>Bedste filmer/klipper</strong> <br />Videoen med flottes redigering, vinkler, stil mm.
                </li>
                <li>
                    <strong>Bedste young gun</strong> <br />fra 2006 og yngre
                </li>
                <li>
                    <strong>Bedste old boy</strong> <br />fra 1986 og ældre
                </li>

            </ul>
        </div>
        <div class="col-sm-12 col-md-4 rules">
            <h1>Regler</h1>
            <p>Ingen konkurrence uden regler</p>
            <ul>
                <li>
                    Man må være alene om en video, eller i en gruppe med op til 6 personer.
                </li>
                <li>
                    Alle BMX-klips skal være filmet mellem d. 1. november 2021 og 31. marts 2022.
                </li>
                <li>
                    Videoen skal kunne oploades til Youtube eller Vimeo af enten os eller dig.
                </li>
                <li>
                    Videoen skal sendes til os senest d. 31. marts 2022.
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4  rules">
            <h1>Tilmelding</h1>

            <p>Alle videoer er velkomne, så længe de holder sig indenfor reglerne.</p>
            <p> Alt fra flatland, til megaramp er
                tilladt og der er hverken nogen øvre eller nedre grænse for længden af videoen.</p>


            <p>Send os en besked på <a class="link" style="color: #c2185b" href="https://www.instagram.com/bmxdanmark/"
                    target="_blank" matTooltip="Find os på Instagram">Instagram </a> hvis du vil være med i konkurrencen

            </p>
            <p style="padding-top: 25px; "> Oldboys er velkommen til at tilmelde sig via email på <a class="link"
                    style="color: #c2185b" href="mailto: FreestyleBMXDanmark@gmail.com"
                    matTooltip="Send en mail">FreestyleBMXDanmark@gmail.com</a></p>



        </div>


    </div>

    <h1>Videoerne:</h1>
    <p>Alle videoer vil være lagt op her på siden senest d. 2. april. 2022.</p>

</div>