<div class="full-dialog">
    <button mat-icon-button class="close-button" [mat-dialog-close]="false">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
    <h1 mat-dialog-title>{{video.name}} </h1>


    <div class="row">
        <div class="col-sm-12 col-md-10">

            <!-- VIDEO START -->

                <div class="container">
                    <iframe *ngIf="video.videoUrl" [src]="videoUrl" frameborder="0" allowfullscreen
                        class="video" alt="video"></iframe>
                </div>
    
            <!-- VIDEO END -->
        </div>



        <div class="col-sm-12 col-md-2">

            <p>{{video.desc}}</p>
            <br />
            <mat-icon color="warn">directions_bike</mat-icon>
            <p>{{video.riders}}</p>
            <mat-icon color="warn">tag</mat-icon>
            <p>{{video.tags}}</p>

        </div>



    </div>

</div>