
.event {
}

.eventTitle {
}

.eventVideo {
    border-radius: 25px;
    padding: 15px;
}

.eventVideo:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.thumbNail {
    width: 100%;
}
