
.event {
}

.eventTitle {
}

.eventVideo {
    border-radius: 25px;
    padding: 15px;
}

.eventVideo:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.thumbNail {
    width: 100%;
    aspect-ratio: 16/9;
}

.overflow {
    overflow: hidden;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}