<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">

        <h1 class="example-app-name" routerLink="">BMX Danmark</h1>
        <span class="example-spacer"></span>
        <button *ngIf="mobileQuery.matches; else wideNav" mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav style="width: 100%" #snav mode="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
            position="end">

            <ng-template #wideNav>
                <button mat-icon-button color="primary" class="ruleButton" aria-label="ruleButton"
                    (click)="openLink('https://www.facebook.com/groups/3349543641830203')"
                    matTooltip="Find os på Facebook">
                    <mat-icon>facebook</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="ruleButton" aria-label="ruleButton"
                    (click)="openLink('https://www.instagram.com/bmxdanmark/')" matTooltip="Find os på Instagram">
                    <img src="assets/pictures/insta.svg"
                    style="max-height: 60%; max-width: 60%; margin-bottom: -20px; margin-top: -20px;" alt="insta">
                    
                </button>

                <button mat-button color="primary" routerLink="" >Hjem</button>
                <button mat-button color="primary" [matMenuTriggerFor]="beforeMenu">Vinter Video Konkurrencen</button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button mat-menu-item routerLink="VVK2020">2020</button>  
                    <button mat-menu-item routerLink="VVK2021">2021</button>
                </mat-menu>
                <button mat-button color="primary" routerLink="arkiv" >Arkiv</button>
                <button mat-button color="primary" routerLink="kontakt" >Kontakt</button>
            </ng-template>

            <mat-nav-list> 

                <mat-list>
                    <mat-list-item *ngFor="let nav of navlist">
                        <h4 matLine (click)="snav.toggle()" routerLink="{{nav.link}}"> {{nav.name}}</h4>
                    </mat-list-item>
                </mat-list>
            </mat-nav-list>


        </mat-sidenav>

        <mat-sidenav-content>

            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>